<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>出售千锤百炼真心一颗，可暖人，可贴心，可善解人意，欢迎回复，洽谈详情。
</string>
	<string>用你的笑容去改变这个世界，别让这个世界改变了你的笑容。HI，你的笑容真的很美！
</string>
	<string>“缘”乃天定，“份”是人为……我们可以做个朋友吗？
</string>
	<string>天没崩，地没裂，月没缺，花没落，我就会一直关注着你。
</string>
	<string>不早也不晚，恰恰就在这个时刻找到了你~这会是彼此生命里最美好的那份缘么？
</string>
	<string>我带着一颗真诚的心来到这里，希望遇到同样真诚的你，期待你的回信！
</string>
	<string>一个人独行有点凄美的孤独味道，如果你也正孤独着，请伸出手，牵手做个伴并肩同行。
</string>
	<string>看到你的内心独白很有同感，写这封信告诉你，当你需要有人倾听的时候，我就在这里……
</string>
	<string>遇见你是一种缘分，陪伴你是一份幸福，如果你想念，我就会来到你的身边，如果你愿意，我就会一生为你守候。
</string>
	<string>我的笑容里，收集了好多阳光，只为了传递给你一份热诚的心愿，我想认识你！
</string>
	<string>看的是书，读的却是世界；看你的独白，感受你的心。期待你和我的心灵共鸣，与我联系吧！
</string>
	<string>缘分就像阵阵花香毫无预见的袭来，让我一见倾心的女孩，你好吗？
</string>
	<string>有人告诉我，你要相信，有一个人正在向你走来，她会带给你最美丽的爱情，所以我每天都在等待着，终于被我等到了你。
</string>
	<string>生命中充满了巧合，两条平行线也会有相交的一天。
</string>
	<string>我在乎的不是你内心独白里说的，而是那些你没有说的，我愿慢慢体会，能给我一个机会吗？
</string>
	<string>我只希望：我和你，平淡的生活里，一直在一起。不知道是否有这个机会？
</string>
	<string>我相信缘分，虽然工作很忙，但是始终都在静静等待爱情的到来，希望这个缘分会使我终生幸福！
</string>
	<string>如果落花有情，那么流水可懂，但愿这封信带去的问候，也带来一段默契的开始。
</string>
	<string>如果，我多一张船票，你会不会跟我一起走？
</string>
	<string>这封信便是一张请柬，邀请你前往我的世界，我已为你准备好玫瑰和晚宴，欢迎你的到来。
</string>
	<string>看到你的资料和内心独白，感觉你正是我要找的人，不知能否和你相识。
</string>
	<string>用一分钟的时间去认识一个人，也许换来一辈子的快乐时光，这样的好事你愿不愿意：）
</string>
	<string>我的眼睛一定有问题，我的视线无法从你身上离开了，如果可以重新排列英文字母，我一定会把U跟I放在一起
</string>
	<string>当你收到我的来信时你已经中了毒咒，唯一的解毒方法就是给我回信。
</string>
	<string>一生就这么一次，谈一场以结婚为目的的恋爱吧！不和别人，就和你！
</string>
	<string>我只希望：我和你，平淡的生活里，一直在一起。不知道是否有这个机会？
</string>
	<string>出售千锤百炼真心一颗，可暖人，可贴心，可善解人意，欢迎回复，洽谈详情。
</string>
	<string>看了不少资料，你让我眼前一亮，希望我发送的问候是我们缘分的开始。
</string>
	<string>冒昧道声你好，因为对你很有感觉，不知道你看了我的资料后是否也有同样的感觉？或许我们俩可以试着联系一下？
</string>
	<string>你好，想跟你交个朋友，但不知道该怎么说。如果你觉得可以的话，请给我回信好吗？
</string>
	<string>我非常认真地看了你的独白和资料，你是一个优秀的女孩，非常希望能认识你并和你交上朋友。
</string>
	<string>你和我理想的女友一模一样，可以认识一下吗？
</string>
	<string>缘分的天空我寻寻觅觅，情路浪漫，因为看到了你，不知是否有机会与你一起发现生活中的美好呢？
</string>
	<string>我知道你身边的位置已经空了很久，就算只是看场电影，给自己一个机会体会身旁有人依靠的感觉……
</string>
	<string>删除繁琐的记忆，摈弃身外的烦恼，人生本来苦短，唯有简单方能多些快乐。你说呢？期待你的回信！
</string>
	<string>听说，红娘会给有缘人的手栓红线，如果这样的话，刚才我动了下手指，你感受到了吗？
</string>
	<string>古道西风瘦马，夕阳西下，断肠人在等你回信。
</string>
	<string>盲目的爱情是说，眼睛睁再大寻爱都没用，只有心里的那双眼才看得到爱情。我想用心去发现你，请给我一个机会。
</string>
	<string>打个招呼，希望可以有缘认识你！真心祝愿你健康快乐，开心幸福！
</string>
	<string>Hi！我原来觉得公主只会在童话里，没想到在这里见到了你，可以允许我认识你吗？真诚的希望与你结识！
</string>
	<string>世界就是一个大型夹娃娃机，我隔着玻璃窗，想要跟你说HELLO。
</string>
	<string>你好，不要介意我这种简单的问候方式，如果获得你的关注，我将全力展现自己的魅力！
</string>
	<string>你好！一句简单的问候，如果能得到你的注意，我将全力展现自己的魅力！
</string>
	<string>趁年轻把能干的坏事都干了吧，没几年了，比如，网上跟美女搭个讪：美女，在吗？
</string>
	<string>当你看到我的来信时，你已经中了猛烈无比的爱毒，唯一的解药就是尽快给我回信，不用考虑了，联系我吧！
</string>
	<string>都说网络是虚拟世界，我却感觉这是极乐天堂，因为在这里我遇见了你，虽然我们天各一方，但心的距离却无间无隙。
</string>
	<string>我的条件其实还不错，但就是不知道适不适合你，尝试一下？
</string>
	<string>我想早恋，但已经晚了……浪费这么多宝贵时间，很遗憾。现在如果给我一个恋爱的机会，我想马上开始，你同意吗？
</string>
	<string>借着网络的讯号，将我的心意传达给你，如果你收到，请让它顺着来时的路回到我心里，并带来你的甜蜜……
</string>
	<string>爱情有一点特招人喜欢，那就是，不用约就来。嗨，我来了，打个招呼吧？
</string>
	<string>一定是前世的缘，才注定了今生的情。不然，为什么人海茫茫，我就偏偏落进了你的网。
</string>
	<string>虽然我从来不喝茶，但看到你，我想说，你是我的那杯茶！可以跟我联系吗？
</string>
	<string>幸福这座山，原本就没有顶、没有头。我愿拉着你的手一起往山上走，你乐意么？
</string>
	<string>我找或者不找，你都在那里，美丽的女孩，你好吗？
</string>
	<string>让这封信变成一张通往你的世界的入场券，我只想对你说，嗨，我来了。
</string>
	<string>自从看到了你，我就成了“没心没肝”的人，因为我的心、我的肝都被你“偷走”了，你能给我回信让我和心、肝团圆一下吗？
</string>
	<string>我今天很不顺利，看见漂亮女生微笑会让我心情好一点，你可以为我笑一下吗？不要虚拟的，可以吗？
</string>
	<string>我给你第一封信，你不回；我写第二封，你还不回；那我就写第三封、第四封……我就烦着你，不信你不回。
</string>
	<string>看到你突然有种怦然心动的感觉，是不是缘分已经来到了呢？
</string>
	<string>世上最累人的事，莫过于虚伪地过日子。我不想这样，希望我真诚的问候能够带来你的回信！
</string>
	<string>天上有多少星光世间有多少女孩，但天上只有一个月亮世间只有一个你。
</string>
	<string>很多人闯进你的国度，只是路过，而我，打算申请你的“绿卡”，我很有诚意，能交个朋友吗 ?
</string>
	<string>你的名字真有意思，能告诉我有什么含义吗？
</string>
	<string>好的爱情是你通过一个人看到整个世界，坏的爱情是你为了一个人舍弃世界。看到你，就好像看到了整个世界！
</string>
	<string>当你在网络的茫茫人海中寻觅累了，请你暂停匆匆的脚步，或许这里有你不错的选择。
</string>
	<string>孔子曰：收信不回，电脑崩溃。孟子曰：孔子说的对！所以，你还是快回我信吧！
</string>
	<string>你好，想跟你交个朋友，但不知道该怎么说。如果你觉得可以的话，请给我回信好吗？
</string>
	<string>当你灿烂微笑，你永远不知道你的笑会感动谁！你知道吗？这里面有我！
</string>
	<string>我可以向你问路吗？请问怎样走才能到达你的心里，告诉我好吗？
</string>
	<string>其实你很好，你自己却不知道。所以，就让我来告诉你吧！
</string>
	<string>跟着我，不喜欢吗？如果不喜欢那我就跟着你走。
</string>
	<string>“缘”来你也在这啊，那我们得认识下，不然太对不起老天的一番美意啦~
</string>
	<string>过去的人生中，我没挤上爱情的高速公路，现在等你领我上路。即刻出发，等你！
</string>
	<string>尽管你不会听见笑声，但我的心因你而笑，我希望认识你……
</string>
	<string>都说骑白马的除了王子还有唐僧，其实，赢取心爱姑娘的新郎也要骑白马，你愿意当我心爱的姑娘吗？
</string>
	<string>在这里看见你，不告诉你我的感觉，真是对不起我的眼睛：仙女哇！
</string>
	<string>我知道这世上有人在等我，尽管我不知道那个人是不是你，但我希望是！
</string>
	<string>我觉得咱俩特合适，你说呢？
</string>
	<string>能有机会向你问候一声，也许这就是上苍给我的一次与你相识的机会，因此我要真诚道一声：你好！
</string>
	<string>看到你有句话想告诉你：惟愿这一生，执子之手，与子偕老。 你敢天长，我就敢地久。
</string>
	<string>看到你的照片让我感觉简单又舒服，就像闻到阳光和鲜花的味道，可以认识你吗？
</string>
	<string>天没崩，地没裂，月没缺，花没落，我就会一直关注着你。
</string>
	<string>这一秒很快会成为下一秒的过去，既然很多东西注定要失去，让我们留住相识的机会，从现在开始改变下一秒。
</string>
	<string>如果落花有情，那么流水可懂，但愿这封信带去的问候，也带来一段默契的开始。
</string>
	<string>奇怪，我们还是陌生人，但我很渴望与你交谈，我相信我们会成为朋友的，认识一下好吗？
</string>
	<string>你一定会有美好爱情，因为我妈说爱笑的女孩子，运气不会差。很想认识你！
</string>
	<string>轻轻地想叩开你的心扉，不知能不能找到门缝......
</string>
	<string>与你无缘的人，你与他说话再多也是废话；与你有缘的人，一个微笑彼此就能心有灵犀。你说呢?
</string>
	<string>我让风儿捎去我对你的倾慕，我让雨儿留下我对你的思念，让这声招呼带去对你的祝福。
</string>
	<string>你好，能认识你这么可爱的女孩吗？
</string>
	<string>看的是书，读的却是世界；看你的独白，感受你的心。期待你和我的心灵共鸣，与我联系吧！
</string>
	<string>我希望你会心肺复苏术，因为你美得让我停止了呼吸。
</string>
	<string>传说这三件事情是让人最幸福的：有人爱，有事做，有所期待。我现在要做的就是和你打声招呼，能期待的就是你的回复。
</string>
	<string>我一直都很相信瞬间的感觉，你的资料和照片很让我心动，不知道有这个荣幸让我更加深入了解你呢？
</string>
	<string>五十亿分之一是自己，二十五亿分之一是你我。缘份，是那亿万分之一的概率，愿这封信是我们缘分的开始！
</string>
	<string>看你照片有点懵，难怪别人说爱情就象板砖，拍谁谁懵：）
</string>
	<string>花开了，缘到了，靠谱的我出现了。我仔细读过你的资料，觉得我们有些共同之处，如果你也有同感，不妨聊一聊！盼复。
</string>
	<string>世上最累人的事，莫过于虚伪地过日子。我不想这样，希望我真诚的问候能够带来你的回信！
</string>
	<string>工作之余，请稍事休息，方便的话浏览下我的资料，只要5秒钟哦！
</string>
	<string>错过一封信不可惜，可万一错过的是爱……回封信确定一下吧：）
</string>
	<string>佛说前生500次的回眸才换来今生的擦肩而过，而我竟然在这里遇见你了，所以我必须给你打个招呼，让你看到我~~
</string>
	<string>这一秒你对我一无所知，下一秒或许我们就会走到一起！你是我喜欢的类型，期待你的回信！
</string>
	<string>甭找了，其他男人都是配菜，最可靠的就在你眼前呢！
</string>
	<string>你的过去我来不及参与，你的未来我不会再错过！真诚之中，与你相识，你愿与我在灵犀之间朝夕相伴吗？
</string>
	<string>单身并不难，难的是应付那些千方百计想让你结束单身的人 。我也想让你结束单身，抽空“应付”下我吧。
</string>
	<string>我愿意用一千万年等待你初春暖阳般的绽颜一笑，我喜欢看你笑，你的笑容真美！
</string>
	<string>在不经意的一瞬间，你自然而优雅地走进了我的视线，轻柔地拨动我那尘封已久的心弦，我知道你的身影将成为我今生注目的焦点。
</string>
	<string>俗话说：因害怕失败而不敢放手一搏，永远不会成功。我不怕被拒绝，但依旧希望你能看到我！
</string>
	<string>你的照片很好看，你的资料有一种让我特别动心的东西，交个朋友好吗？
</string>
	<string>有时候，这个世界很大很大，大到我们一辈子都没有机会遇见。有时候，这个世界又很小很小，小到一抬头就看见了你的笑脸。
</string>
	<string>有时候，这个世界很大很大，大到我们一辈子都没有机会遇见。有时候，这个世界又很小很小，小到一抬头就看见了你的笑脸。
</string>
	<string>轻轻的你走进了我心里，正如我轻轻的向你打个招呼。
</string>
	<string>往前一步是幸福，退后一步是孤独，我已经往前迈出一步了，你还在等什么呢。
</string>
	<string>心飘泊久了，需要一个温暖的港湾。生命中只剩下一万多天，如果前世有缘，我们遇见了，请珍惜，好好过......
</string>
	<string>HI，你的资料很给力，我觉得我们应该会很适合，那也就请你给力的给我回复吧。
</string>
	<string>你要是不给我回信，我就永远不给你写信了。
</string>
	<string>轻轻的，一片落叶飘进我的心里，占满我全部的心，慢慢的，我的心也随着落叶飘到了你的心里。
</string>
	<string>嗨，你好，我向你打了一声招呼，接下来你会怎么做？
</string>
	<string>一个人久了，越来越感到疲惫，想和你一起重拾生活的激情，可以吗？
</string>
	<string>你好！我怀着一颗诚挚的心给你发这封信，希望得到你的回应，更希望这是我们缘份的开始。祝好！
</string>
	<string>让这封信飞一会儿！如果你听到它落地的声音，告诉我一声：）
</string>
	<string>关注你很久了，一直都在暗暗地想，我想你的时候，你会不会也刚好正在想我？哈哈！
</string>
	<string>你好，看了你的资料，觉得你拥有很多我欣赏的品质。可以联系吗？
</string>
	<string>你是我非常欣赏的类型，希望能从朋友做起，可以吗？
</string>
	<string>当你爱一个人，你会从心底里想要对方高兴。我是天生的乐天派，希望能给你带来快乐！
</string>
	<string>我一直不相信网恋，没想到在这里能够看到你，可能这就是爱的奇迹吧！
</string>
	<string>看了你的独白，觉得你是个好人！祝福你能够找到心中的她，就是不知道我有没有这个荣幸啊！
</string>
	<string>我深深相信，会有那么一个人用尽全力爱上我的全部。我希望这个人会是你！
</string>
	<string>我知道这世上有人在等着我，但我不知道他究竟会是谁？是你吗？
</string>
	<string>你未来丈母娘说，这小伙子怎么这么像我女婿啊？
</string>
	<string>你以为你没有爱情，但是它正在来的路上。生活就是这样，但愿从这封信开始，我们的世界改变。
</string>
	<string>作为你生命中出现的“新大陆”，但愿这封信件是彼此探索的开始，交个朋友吧。
</string>
	<string>两颗相爱的心之间不需要更多的言语，所以一声招呼足矣……
</string>
	<string>你好！我非常认真地看了你的资料和个人独白，感觉你很优秀，怀着一颗诚挚的心给你发这封信，希望得到你的回应，更希望这是我们缘份的开始。祝好！
</string>
	<string>有那么一个人，最渴望的是被你提到。我就是这个人，可以认识一下
</string>
	<string>孤独已久，我的世界期待有人进入，从这声问候开始，“我”和“你”，变成“我们”，该有多幸福！
</string>
	<string>于千万人之中，遇见你所遇见的人；于千万年之中，时间的无涯荒野里，没有早一步，也没有晚一步，刚巧赶上了你。
</string>
	<string>不同的时间，不同的人群，相同的只有你和我相聚在网络上，时间在变，空间在变，不变的只有对你无限的仰慕。
</string>
	<string>看了你的独白，我觉得你真的很像我要找的人，期待进一步了解吧！
</string>
	<string>不知道像你这样优秀的男生会不会看上我啊！冒昧地打声招呼，期待你的回信！
</string>
	<string>看了你的择友要求，和我的资料很相近，为啥你没能先找到我呢~~^_^
</string>
	<string>有些人注定是等待别人，有些人注定是被别人等待，你会是我要等的人吗？
</string>
	<string>爱不需要解释，因为爱没有附加条件。我也不解释了，只希望尽快看到你的回信！
</string>
	<string>人生总有许多巧合，两条平行线也可能会有交汇的一天。我们今天的交汇，不知能否成就美好的明天？
</string>
	<string>我环顾四周，确定你没有跟我打招呼，你为什么不跟我打招呼，再远，我都听得见……
</string>
	<string>你好，看到你的资料有些心动，故问候一声，望能从朋友开始，彼此了解~
</string>
	<string>Hi，看了你的资料，我发现我们有很多共同爱好，希望可以深入了解一下，好吗？
</string>
	<string>一个人的天空很蓝，蓝的有点犹豫；一个人的时候很自由，自由的有点孤单，已经很久没人走入过我的世界了。
</string>
	<string>你好，这句问候代表着我的勇气，请给羞涩的我一个联系你的机会~
</string>
	<string>遇到了就是一种福分，你的资料显示出我们两个很匹配，快联系我吧^_^
</string>
	<string>你好！你的信息很详细，看得出你是个很认真的人，可以认识一下吗？
</string>
	<string>找个合适的人真的好难，我对你感觉很好，希望你能给爱情一个小机会！
</string>
	<string>看了你的资料，我觉得我们很合适，想深入了解一下，期待你的回信！
</string>
	<string>我希望有一个人能看穿我的逞强，体贴我的孤单，保护我的自尊，心疼我的脆弱，给我白头偕老的爱情！
</string>
	<string>你好，虽然我的条件与你的要求不完全相同，但是我很想和你认识一下，做个普通的朋友也好。
</string>
	<string>你好，在茫茫网海，能够在此与你相遇，我相信这就是缘分，不知道你是否也这样认为呢？
</string>
	<string>因为陌生而胆怯，所以请接受我因为胆怯而简单的问候，希望这声简单的问候能是此生幸福的开始。
</string>
	<string>多么希望你曾注意过我，就像我注意了你很久一样，快点给我回复吧。
</string>
	<string>一句轻轻的问候，会不会是一段浪漫的开始呢？
</string>
	<string>结婚一定要遇到对的人，我觉得你就是那个对的人。
</string>
	<string>帅哥，觉得你挺不错的，我是个直率的女孩，认识一下好吗？
</string>
	<string>想说爱你不太容易，打个招呼表表心意。如果你心泛起涟漪，回个信息可不可以？
</string>
	<string>我不贪心，也不等待，我找到感觉对的人就决定了，所以就立刻给你打了个招呼。
</string>
	<string>我不会写情书，也不会说情话，我只会写“心”，我将会用“心”来和你交流。
</string>
	<string>呀，照片上的帅哥是谁家的，介绍一下呗。
</string>
	<string>看你的照片，很MAN呀！可以认识一下吗？
</string>
	<string>生命太短，没留时间给我们每日带着遗憾醒来。所以为了不给自己留下遗憾，我决定一定要和你打个招呼。
</string>
	<string>我不喜欢左顾右盼，因为我的时间有限，所以我比较认准让我产生第一眼感觉的人，这个人就是你。
</string>
	<string>在对的时间，遇见对的人，是一生的幸福，你是在最合适的时间出现的那个人吗？
</string>
	<string>与其在无望的单相思中饱受着相思之苦，不如采取干脆爽快的行动，跟你打个招呼吧。
</string>
	<string>你的笑容好灿烂哦(^__^) 嘻嘻……
</string>
	<string>无意中看到你的资料，有种似曾相识的感觉，心有千言，却只能化作一句“你好！”
</string>
	<string>我对你的资料和照片的真实性没有任何怀疑，让我们了解一下彼此吧！
</string>
	<string>没有人知道，能陪自己坐到终点站的人，究竟会是谁？我的他，是你吗？
</string>
	<string>我一直在关注你，用你知道或者不知道的方式。第一封信也许是故意，可走着走着就成了必然。
</string>
	<string>我不了解我的寂寞来自何方，但我真的感到寂寞。你也寂寞，世界上每个人都寂寞，只是大家的寂寞都不同吧。
</string>
	<string>我最近有点萎靡不振，据说爱情是生活最好的提神剂，我想此时此刻我需要一剂。
</string>
	<string>与其在无望的单相思中饱受着相思之苦，不如采取干脆爽快的行动，跟你打个招呼吧。
</string>
	<string>茫茫人海中，想找到属于自己的另一半确实不是一件容易的事，但我相信缘分，你相信吗？
</string>
	<string>踏遍千山万水，只为追寻你的脚步，遇见时，所有感叹化为一句：哦，原来你也在这里！
</string>
	<string>注意到你只需要一瞬间，看了你的信息发现你是个真诚的大男孩，可以认识你吗？
</string>
	<string>能在网络相遇，也是一种缘，但愿我们都学会了珍惜！
</string>
	<string>俗话说：爱不是逃避，是努力。我已经迈出了第一步，期待你的回信！
</string>
	<string>无论你身在何处，无论你为何忙碌，我都会在此守候你的回复。
</string>
	<string>嘿，对面的男孩看过来，看过来，这里有一个好女孩！
</string>
	<string>爱情就像一只蝴蝶，它喜欢飞到哪里，就把欢乐带到哪里，我愿意做你那只最美的花蝴蝶。
</string>
	<string>看到你清澈明亮的眼睛，我发现了你对我而言意味着什么。
</string>
	<string>总会有那么一个人的，要相信，只有相信，才能拥有！我相信，你呢？
</string>
	<string>有一种快乐叫做看你笑，就算中乐透，也不会比这样更好。
</string>
	<string>被你的独白打动了，希望有机会相识。
</string>
	<string>因为陌生而胆怯，所以请接受我因为胆怯而简单的问候，希望这声简单的问候能是此生幸福的开始。
</string>
	<string>你遇到一个人，你们彼此相爱。终于你明白，所有的寻觅，也有一个过程。从前在天涯，而今咫尺！
</string>
	<string>我总是一个人，你从不曾来过，我也从不曾出现在你的世界。不想寂寞成习惯，所以对你说HELLO，但愿从此有人与我分享生活的酸甜苦辣。
</string>
	<string>我喜欢拍照，但厌烦了幼稚的自拍，你愿意做我的专职摄影师吗？
</string>
	<string>HI，看一下我的照片吧，我的身上有你未来的她的影子吗？
</string>
	<string>尽管有些不矜持，但我还是忍不住主动接近你，认识一下好吗？
</string>
	<string>Hi，你好，能发这封信给你，已经是鼓足了很大的勇气，希望你不要不理睬，可以吗？
</string>
	<string>我们错过了诺亚方舟，错过了泰坦尼克号，错过了一切的惊险与不惊险，难道我们还要继续错过吗？
</string>
	<string>恭喜你！你被我从人堆里挑出来啦，你不好奇我是谁吗？交个朋友吧！
</string>
	<string>从没和你说过话，但总觉得在哪里见过？交个朋友吧！
</string>
	<string>如果能得到你的关注，是一个非常幸福的荣幸。
</string>
	<string>曾经相遇，总胜过从未碰头。真心的期待你的回信！
</string>
	<string>天上有多少星光世间有多少帅哥，但天上只有一个月亮世间只有一个你。
</string>
	<string>下辈子请不要改名字，这样我还可以找到你，算了，以防我找不到你我们还是这辈子就相识吧。
</string>
	<string>也没什么，想象着未来的夫君，忽然就看到你了。
</string>
	<string>你不会因为美丽去爱一个女人，但她却会因为你的爱而变得美丽。爱会让我们都变得更好，你相信吗?
</string>
	<string>我总是在最深的绝望里遇见最美丽的惊喜~今天突然看到你，真的很开心！期待你的回信！
</string>
	<string>你偷看我，被我发现了，那我们就认识一下吧，呵呵！
</string>
	<string>如果活着是上帝赐予我最大的使命，那么活着能认识你，将会是上帝赋予我使命的恩赐……
</string>
	<string>不要认为后面还有更好的，因为现在拥有的就是最好的。你看我跟你合适吗？</string>
</array>
</plist>
