<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sex</key>
	<array>
		<string>性别</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>男</string>
			<key>2</key>
			<string>女</string>
		</dict>
	</array>
	<key>email</key>
	<array>
		<string>邮箱</string>
		<dict/>
	</array>
	<key>age</key>
	<array>
		<string>年龄</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>19</key>
			<string>19岁</string>
			<key>20</key>
			<string>20岁</string>
			<key>18</key>
			<string>18岁</string>
			<key>21</key>
			<string>21岁</string>
			<key>22</key>
			<string>22岁</string>
			<key>23</key>
			<string>23岁</string>
			<key>24</key>
			<string>24岁</string>
			<key>25</key>
			<string>25岁</string>
			<key>26</key>
			<string>26岁</string>
			<key>27</key>
			<string>27岁</string>
			<key>28</key>
			<string>28岁</string>
			<key>29</key>
			<string>29岁</string>
			<key>30</key>
			<string>30岁</string>
			<key>31</key>
			<string>31岁</string>
			<key>32</key>
			<string>32岁</string>
			<key>33</key>
			<string>33岁</string>
			<key>34</key>
			<string>34岁</string>
			<key>35</key>
			<string>35岁</string>
			<key>36</key>
			<string>36岁</string>
			<key>37</key>
			<string>37岁</string>
			<key>38</key>
			<string>38岁</string>
			<key>39</key>
			<string>39岁</string>
			<key>40</key>
			<string>40岁</string>
			<key>41</key>
			<string>41岁</string>
			<key>42</key>
			<string>42岁</string>
			<key>43</key>
			<string>43岁</string>
			<key>44</key>
			<string>44岁</string>
			<key>45</key>
			<string>45岁</string>
			<key>46</key>
			<string>46岁</string>
			<key>47</key>
			<string>47岁</string>
			<key>48</key>
			<string>48岁</string>
			<key>49</key>
			<string>49岁</string>
			<key>50</key>
			<string>50岁</string>
			<key>51</key>
			<string>51岁</string>
			<key>52</key>
			<string>52岁</string>
			<key>53</key>
			<string>53岁</string>
			<key>54</key>
			<string>54岁</string>
			<key>55</key>
			<string>55岁</string>
			<key>56</key>
			<string>56岁</string>
			<key>57</key>
			<string>57岁</string>
			<key>58</key>
			<string>58岁</string>
			<key>59</key>
			<string>59岁</string>
			<key>60</key>
			<string>60岁</string>
			<key>61</key>
			<string>61岁</string>
			<key>62</key>
			<string>62岁</string>
			<key>63</key>
			<string>63岁</string>
			<key>64</key>
			<string>64岁</string>
			<key>65</key>
			<string>65岁</string>
			<key>66</key>
			<string>66岁</string>
			<key>67</key>
			<string>67岁</string>
			<key>68</key>
			<string>68岁</string>
			<key>69</key>
			<string>69岁</string>
			<key>70</key>
			<string>70岁</string>
			<key>71</key>
			<string>71岁</string>
			<key>72</key>
			<string>72岁</string>
			<key>73</key>
			<string>73岁</string>
			<key>74</key>
			<string>74岁</string>
			<key>75</key>
			<string>75岁</string>
			<key>76</key>
			<string>76岁</string>
			<key>77</key>
			<string>77岁</string>
			<key>78</key>
			<string>78岁</string>
			<key>79</key>
			<string>79岁</string>
			<key>80</key>
			<string>80岁</string>
			<key>81</key>
			<string>81岁</string>
			<key>82</key>
			<string>82岁</string>
			<key>83</key>
			<string>83岁</string>
			<key>84</key>
			<string>84岁</string>
			<key>85</key>
			<string>85岁</string>
			<key>86</key>
			<string>86岁</string>
			<key>87</key>
			<string>87岁</string>
			<key>88</key>
			<string>88岁</string>
			<key>89</key>
			<string>89岁</string>
			<key>90</key>
			<string>90岁</string>
			<key>91</key>
			<string>91岁</string>
			<key>92</key>
			<string>92岁</string>
			<key>93</key>
			<string>93岁</string>
			<key>94</key>
			<string>94岁</string>
			<key>95</key>
			<string>95岁</string>
			<key>96</key>
			<string>96岁</string>
			<key>97</key>
			<string>97岁</string>
			<key>98</key>
			<string>98岁</string>
			<key>99</key>
			<string>99岁</string>
		</dict>
	</array>
	<key>height</key>
	<array>
		<string>身高</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>130</key>
			<string>130CM</string>
			<key>131</key>
			<string>131CM</string>
			<key>132</key>
			<string>132CM</string>
			<key>133</key>
			<string>133CM</string>
			<key>134</key>
			<string>134CM</string>
			<key>135</key>
			<string>135CM</string>
			<key>136</key>
			<string>136CM</string>
			<key>137</key>
			<string>137CM</string>
			<key>138</key>
			<string>138CM</string>
			<key>139</key>
			<string>139CM</string>
			<key>140</key>
			<string>140CM</string>
			<key>141</key>
			<string>141CM</string>
			<key>142</key>
			<string>142CM</string>
			<key>143</key>
			<string>143CM</string>
			<key>144</key>
			<string>144CM</string>
			<key>145</key>
			<string>145CM</string>
			<key>146</key>
			<string>146CM</string>
			<key>147</key>
			<string>147CM</string>
			<key>148</key>
			<string>148CM</string>
			<key>149</key>
			<string>149CM</string>
			<key>150</key>
			<string>150CM</string>
			<key>151</key>
			<string>151CM</string>
			<key>152</key>
			<string>152CM</string>
			<key>153</key>
			<string>153CM</string>
			<key>154</key>
			<string>154CM</string>
			<key>155</key>
			<string>155CM</string>
			<key>156</key>
			<string>156CM</string>
			<key>157</key>
			<string>157CM</string>
			<key>158</key>
			<string>158CM</string>
			<key>159</key>
			<string>159CM</string>
			<key>160</key>
			<string>160CM</string>
			<key>161</key>
			<string>161CM</string>
			<key>162</key>
			<string>162CM</string>
			<key>163</key>
			<string>163CM</string>
			<key>164</key>
			<string>164CM</string>
			<key>165</key>
			<string>165CM</string>
			<key>166</key>
			<string>166CM</string>
			<key>167</key>
			<string>167CM</string>
			<key>168</key>
			<string>168CM</string>
			<key>169</key>
			<string>169CM</string>
			<key>170</key>
			<string>170CM</string>
			<key>171</key>
			<string>171CM</string>
			<key>172</key>
			<string>172CM</string>
			<key>173</key>
			<string>173CM</string>
			<key>174</key>
			<string>174CM</string>
			<key>175</key>
			<string>175CM</string>
			<key>176</key>
			<string>176CM</string>
			<key>177</key>
			<string>177CM</string>
			<key>178</key>
			<string>178CM</string>
			<key>179</key>
			<string>179CM</string>
			<key>180</key>
			<string>180CM</string>
			<key>181</key>
			<string>181CM</string>
			<key>182</key>
			<string>182CM</string>
			<key>183</key>
			<string>183CM</string>
			<key>184</key>
			<string>184CM</string>
			<key>185</key>
			<string>185CM</string>
			<key>186</key>
			<string>186CM</string>
			<key>187</key>
			<string>187CM</string>
			<key>188</key>
			<string>188CM</string>
			<key>189</key>
			<string>189CM</string>
			<key>190</key>
			<string>190CM</string>
			<key>191</key>
			<string>191CM</string>
			<key>192</key>
			<string>192CM</string>
			<key>193</key>
			<string>193CM</string>
			<key>194</key>
			<string>194CM</string>
			<key>195</key>
			<string>195CM</string>
			<key>196</key>
			<string>196CM</string>
			<key>197</key>
			<string>197CM</string>
			<key>198</key>
			<string>198CM</string>
			<key>199</key>
			<string>199CM</string>
			<key>200</key>
			<string>200CM</string>
			<key>201</key>
			<string>201CM</string>
			<key>202</key>
			<string>202CM</string>
			<key>203</key>
			<string>203CM</string>
			<key>204</key>
			<string>204CM</string>
			<key>205</key>
			<string>205CM</string>
			<key>206</key>
			<string>206CM</string>
			<key>207</key>
			<string>207CM</string>
			<key>208</key>
			<string>208CM</string>
			<key>209</key>
			<string>209CM</string>
			<key>210</key>
			<string>210CM</string>
			<key>211</key>
			<string>211CM</string>
			<key>212</key>
			<string>212CM</string>
			<key>213</key>
			<string>213CM</string>
			<key>214</key>
			<string>214CM</string>
			<key>215</key>
			<string>215CM</string>
			<key>216</key>
			<string>216CM</string>
			<key>217</key>
			<string>217CM</string>
			<key>218</key>
			<string>218CM</string>
			<key>219</key>
			<string>219CM</string>
			<key>220</key>
			<string>220CM</string>
			<key>221</key>
			<string>221CM</string>
			<key>222</key>
			<string>222CM</string>
			<key>223</key>
			<string>223CM</string>
			<key>224</key>
			<string>224CM</string>
			<key>225</key>
			<string>225CM</string>
			<key>226</key>
			<string>226CM</string>
			<key>227</key>
			<string>227CM</string>
			<key>228</key>
			<string>228CM</string>
			<key>229</key>
			<string>229CM</string>
			<key>230</key>
			<string>230CM</string>
			<key>231</key>
			<string>231CM</string>
			<key>232</key>
			<string>232CM</string>
			<key>233</key>
			<string>233CM</string>
			<key>234</key>
			<string>234CM</string>
			<key>235</key>
			<string>235CM</string>
			<key>236</key>
			<string>236CM</string>
			<key>237</key>
			<string>237CM</string>
			<key>238</key>
			<string>238CM</string>
			<key>239</key>
			<string>239CM</string>
			<key>240</key>
			<string>240CM</string>
			<key>241</key>
			<string>241CM</string>
			<key>242</key>
			<string>242CM</string>
			<key>243</key>
			<string>243CM</string>
			<key>244</key>
			<string>244CM</string>
			<key>245</key>
			<string>245CM</string>
			<key>246</key>
			<string>246CM</string>
			<key>247</key>
			<string>247CM</string>
			<key>248</key>
			<string>248CM</string>
			<key>249</key>
			<string>249CM</string>
			<key>250</key>
			<string>250CM</string>
			<key>251</key>
			<string>251CM</string>
			<key>252</key>
			<string>252CM</string>
			<key>253</key>
			<string>253CM</string>
			<key>254</key>
			<string>254CM</string>
			<key>255</key>
			<string>255CM</string>
			<key>256</key>
			<string>256CM</string>
			<key>257</key>
			<string>257CM</string>
			<key>258</key>
			<string>258CM</string>
			<key>259</key>
			<string>259CM</string>
			<key>260</key>
			<string>260CM</string>
		</dict>
	</array>
	<key>education</key>
	<array>
		<string>教育程度</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>中专以下学历</string>
			<key>3</key>
			<string>大专</string>
			<key>2</key>
			<string>中专</string>
			<key>4</key>
			<string>本科</string>
			<key>5</key>
			<string>硕士</string>
			<key>6</key>
			<string>博士</string>
		</dict>
	</array>
	<key>username</key>
	<array>
		<string>昵称</string>
		<dict/>
	</array>
	<key>marrystatus</key>
	<array>
		<string>婚姻状态</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>未婚</string>
			<key>2</key>
			<string>离异</string>
			<key>3</key>
			<string>丧偶</string>
		</dict>
	</array>
	<key>blood</key>
	<array>
		<string>血型</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>A型</string>
			<key>2</key>
			<string>B型</string>
			<key>3</key>
			<string>O型</string>
			<key>4</key>
			<string>AB型</string>
			<key>5</key>
			<string>其他</string>
		</dict>
	</array>
	<key>childrenstatus</key>
	<array>
		<string>有无子女</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>无小孩</string>
			<key>2</key>
			<string>有，和我住在一起</string>
			<key>3</key>
			<string>有，有时候和我住在一起</string>
			<key>4</key>
			<string>有：不和我住在一起</string>
		</dict>
	</array>
	<key>nationality</key>
	<array>
		<string>国籍</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>中国大陆</string>
			<key>2</key>
			<string>中国台湾</string>
			<key>3</key>
			<string>中国香港</string>
			<key>4</key>
			<string>中国澳门</string>
			<key>5</key>
			<string>其他</string>
		</dict>
	</array>
	<key>nationalprovinceid</key>
	<array>
		<string>户籍 省</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>北京</string>
			<key>3</key>
			<string>天津</string>
			<key>5</key>
			<string>上海</string>
			<key>7</key>
			<string>重庆</string>
			<key>9</key>
			<string>广东</string>
			<key>33</key>
			<string>江苏</string>
			<key>57</key>
			<string>浙江</string>
			<key>85</key>
			<string>福建</string>
			<key>98</key>
			<string>湖南</string>
			<key>122</key>
			<string>湖北</string>
			<key>152</key>
			<string>山东</string>
			<key>177</key>
			<string>辽宁</string>
			<key>198</key>
			<string>吉林</string>
			<key>218</key>
			<string>云南</string>
			<key>233</key>
			<string>四川</string>
			<key>252</key>
			<string>安徽</string>
			<key>271</key>
			<string>江西</string>
			<key>286</key>
			<string>黑龙江</string>
			<key>306</key>
			<string>河北</string>
			<key>326</key>
			<string>陕西</string>
			<key>336</key>
			<string>海南</string>
			<key>342</key>
			<string>河南</string>
			<key>362</key>
			<string>山西</string>
			<key>374</key>
			<string>内蒙古</string>
			<key>392</key>
			<string>广西</string>
			<key>405</key>
			<string>贵州</string>
			<key>416</key>
			<string>宁夏</string>
			<key>421</key>
			<string>青海</string>
			<key>427</key>
			<string>新疆</string>
			<key>445</key>
			<string>西藏</string>
			<key>449</key>
			<string>甘肃</string>
			<key>463</key>
			<string>台湾</string>
			<key>469</key>
			<string>香港</string>
			<key>471</key>
			<string>澳门</string>
			<key>473</key>
			<string>国外</string>
			<key>475</key>
			<string>其他</string>
		</dict>
	</array>
	<key>nationalprovincename</key>
	<array>
		<string>户籍 省</string>
		<dict/>
	</array>
	<key>nationalcityid</key>
	<array>
		<string>户籍 市</string>
		<dict/>
	</array>
	<key>provinceid</key>
	<array>
		<string>所在地区 省</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>北京</string>
			<key>3</key>
			<string>天津</string>
			<key>5</key>
			<string>上海</string>
			<key>7</key>
			<string>重庆</string>
			<key>9</key>
			<string>广东</string>
			<key>33</key>
			<string>江苏</string>
			<key>57</key>
			<string>浙江</string>
			<key>85</key>
			<string>福建</string>
			<key>98</key>
			<string>湖南</string>
			<key>122</key>
			<string>湖北</string>
			<key>152</key>
			<string>山东</string>
			<key>177</key>
			<string>辽宁</string>
			<key>198</key>
			<string>吉林</string>
			<key>218</key>
			<string>云南</string>
			<key>233</key>
			<string>四川</string>
			<key>252</key>
			<string>安徽</string>
			<key>271</key>
			<string>江西</string>
			<key>286</key>
			<string>黑龙江</string>
			<key>306</key>
			<string>河北</string>
			<key>326</key>
			<string>陕西</string>
			<key>336</key>
			<string>海南</string>
			<key>342</key>
			<string>河南</string>
			<key>362</key>
			<string>山西</string>
			<key>374</key>
			<string>内蒙古</string>
			<key>392</key>
			<string>广西</string>
			<key>405</key>
			<string>贵州</string>
			<key>416</key>
			<string>宁夏</string>
			<key>421</key>
			<string>青海</string>
			<key>427</key>
			<string>新疆</string>
			<key>445</key>
			<string>西藏</string>
			<key>449</key>
			<string>甘肃</string>
			<key>463</key>
			<string>台湾</string>
			<key>469</key>
			<string>香港</string>
			<key>471</key>
			<string>澳门</string>
			<key>473</key>
			<string>国外</string>
			<key>475</key>
			<string>其他</string>
		</dict>
	</array>
	<key>provincename</key>
	<array>
		<string>所在地区 省</string>
		<dict/>
	</array>
	<key>cityid</key>
	<array>
		<string>所在地区 市</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>6</key>
			<string>黄浦</string>
			<key>514</key>
			<string>南区</string>
			<key>515</key>
			<string>卢湾</string>
			<key>516</key>
			<string>徐汇</string>
			<key>517</key>
			<string>长宁</string>
			<key>518</key>
			<string>静安</string>
			<key>519</key>
			<string>普陀</string>
			<key>520</key>
			<string>闸北</string>
			<key>521</key>
			<string>虹口</string>
			<key>522</key>
			<string>杨浦</string>
			<key>523</key>
			<string>闵行</string>
			<key>524</key>
			<string>宝山</string>
			<key>525</key>
			<string>嘉定</string>
			<key>526</key>
			<string>浦东新区</string>
			<key>527</key>
			<string>金山</string>
			<key>528</key>
			<string>松江</string>
			<key>529</key>
			<string>南汇</string>
			<key>530</key>
			<string>奉贤</string>
			<key>531</key>
			<string>青浦</string>
			<key>532</key>
			<string>崇明</string>
		</dict>
	</array>
	<key>cityname</key>
	<array>
		<string>所在地区 市</string>
		<dict/>
	</array>
	<key>areaid</key>
	<array>
		<string>所在地区 区</string>
		<dict/>
	</array>
	<key>lovekind</key>
	<array>
		<string>交友类型</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>3</key>
			<string>恋爱</string>
			<key>4</key>
			<string>结婚</string>
		</dict>
	</array>
	<key>personality</key>
	<array>
		<string>个性</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>浪漫迷人</string>
			<key>2</key>
			<string>成熟稳重</string>
			<key>3</key>
			<string>风趣幽默</string>
			<key>4</key>
			<string>乐天达观</string>
			<key>5</key>
			<string>活泼可爱</string>
			<key>6</key>
			<string>忠厚老实</string>
			<key>7</key>
			<string>淳朴害羞</string>
			<key>8</key>
			<string>温柔体贴</string>
			<key>9</key>
			<string>多愁善感</string>
			<key>10</key>
			<string>新潮时尚</string>
			<key>11</key>
			<string>热辣动感</string>
			<key>12</key>
			<string>豪放不羁</string>
		</dict>
	</array>
	<key>national</key>
	<array>
		<string>民族</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>汉族</string>
			<key>2</key>
			<string>藏族</string>
			<key>3</key>
			<string>朝鲜族</string>
			<key>4</key>
			<string>蒙古族</string>
			<key>5</key>
			<string>回族</string>
			<key>6</key>
			<string>满族</string>
			<key>7</key>
			<string>维吾尔族</string>
			<key>8</key>
			<string>壮族</string>
			<key>9</key>
			<string>彝族</string>
			<key>10</key>
			<string>苗族</string>
			<key>11</key>
			<string>其他民族</string>
		</dict>
	</array>
	<key>jobs</key>
	<array>
		<string>所在行业</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>在校学生</string>
			<key>2</key>
			<string>计算机/互联网</string>
			<key>3</key>
			<string>电子/半导体</string>
			<key>4</key>
			<string>通信技术</string>
			<key>5</key>
			<string>销售</string>
			<key>6</key>
			<string>市场拓展</string>
			<key>7</key>
			<string>公关/商务</string>
			<key>8</key>
			<string>采购</string>
			<key>9</key>
			<string>客户服务/技术支持</string>
			<key>10</key>
			<string>人力资源/行政管理</string>
			<key>11</key>
			<string>高级管理</string>
			<key>12</key>
			<string>生产/加工/制造</string>
			<key>13</key>
			<string>质控/安检</string>
			<key>14</key>
			<string>工程机械</string>
			<key>15</key>
			<string>技工</string>
			<key>16</key>
			<string>会计/审计/统计</string>
			<key>17</key>
			<string>金融/证券/投资</string>
			<key>18</key>
			<string>房地产/装修/物业</string>
			<key>19</key>
			<string>仓储/物流</string>
			<key>20</key>
			<string>交通/运输</string>
			<key>21</key>
			<string>普通劳动力/家政服务</string>
			<key>22</key>
			<string>普通服务行业</string>
			<key>23</key>
			<string>航空服务行业</string>
			<key>24</key>
			<string>教育/培训</string>
			<key>25</key>
			<string>咨询/顾问</string>
			<key>26</key>
			<string>学术/科研</string>
			<key>27</key>
			<string>法律</string>
			<key>28</key>
			<string>设计/创意</string>
			<key>29</key>
			<string>文学/传媒/影视</string>
			<key>30</key>
			<string>餐饮/旅游</string>
			<key>31</key>
			<string>化工</string>
			<key>32</key>
			<string>能源/地质勘查</string>
			<key>33</key>
			<string>医疗/护理</string>
			<key>34</key>
			<string>保健/美容</string>
			<key>35</key>
			<string>生物/制药/医疗器械</string>
			<key>36</key>
			<string>体育工作者</string>
			<key>37</key>
			<string>翻译</string>
			<key>38</key>
			<string>公务员/国家干部</string>
			<key>39</key>
			<string>私营业主</string>
			<key>40</key>
			<string>农/林/牧/渔业</string>
			<key>41</key>
			<string>警察/其他</string>
			<key>42</key>
			<string>自由职业者</string>
			<key>43</key>
			<string>其他</string>
		</dict>
	</array>
	<key>salary</key>
	<array>
		<string>月薪</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>2000元以下</string>
			<key>2</key>
			<string>2000~5000元</string>
			<key>3</key>
			<string>5000~10000元</string>
			<key>4</key>
			<string>10000~20000元</string>
			<key>5</key>
			<string>20000元以上</string>
		</dict>
	</array>
	<key>housing</key>
	<array>
		<string>居住情况</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>暂未购房</string>
			<key>2</key>
			<string>需要时置房</string>
			<key>3</key>
			<string>已购住房</string>
			<key>4</key>
			<string>与人合租</string>
			<key>5</key>
			<string>独自租房</string>
			<key>6</key>
			<string>与父母同住</string>
			<key>7</key>
			<string>住亲朋家</string>
			<key>8</key>
			<string>住单位房</string>
		</dict>
	</array>
	<key>caring</key>
	<array>
		<string>购车情况</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>暂未购车</string>
			<key>2</key>
			<string>已经购车</string>
		</dict>
	</array>
	<key>weight</key>
	<array>
		<string>体重</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>30</key>
			<string>30公斤</string>
			<key>31</key>
			<string>31公斤</string>
			<key>32</key>
			<string>32公斤</string>
			<key>33</key>
			<string>33公斤</string>
			<key>34</key>
			<string>34公斤</string>
			<key>35</key>
			<string>35公斤</string>
			<key>36</key>
			<string>36公斤</string>
			<key>37</key>
			<string>37公斤</string>
			<key>38</key>
			<string>38公斤</string>
			<key>39</key>
			<string>39公斤</string>
			<key>40</key>
			<string>40公斤</string>
			<key>41</key>
			<string>41公斤</string>
			<key>42</key>
			<string>42公斤</string>
			<key>43</key>
			<string>43公斤</string>
			<key>44</key>
			<string>44公斤</string>
			<key>45</key>
			<string>45公斤</string>
			<key>46</key>
			<string>46公斤</string>
			<key>47</key>
			<string>47公斤</string>
			<key>48</key>
			<string>48公斤</string>
			<key>49</key>
			<string>49公斤</string>
			<key>50</key>
			<string>50公斤</string>
			<key>51</key>
			<string>51公斤</string>
			<key>52</key>
			<string>52公斤</string>
			<key>53</key>
			<string>53公斤</string>
			<key>54</key>
			<string>54公斤</string>
			<key>55</key>
			<string>55公斤</string>
			<key>56</key>
			<string>56公斤</string>
			<key>57</key>
			<string>57公斤</string>
			<key>58</key>
			<string>58公斤</string>
			<key>59</key>
			<string>59公斤</string>
			<key>60</key>
			<string>60公斤</string>
			<key>61</key>
			<string>61公斤</string>
			<key>62</key>
			<string>62公斤</string>
			<key>63</key>
			<string>63公斤</string>
			<key>64</key>
			<string>64公斤</string>
			<key>65</key>
			<string>65公斤</string>
			<key>66</key>
			<string>66公斤</string>
			<key>67</key>
			<string>67公斤</string>
			<key>68</key>
			<string>68公斤</string>
			<key>69</key>
			<string>69公斤</string>
			<key>70</key>
			<string>70公斤</string>
			<key>71</key>
			<string>71公斤</string>
			<key>72</key>
			<string>72公斤</string>
			<key>73</key>
			<string>73公斤</string>
			<key>74</key>
			<string>74公斤</string>
			<key>75</key>
			<string>75公斤</string>
			<key>76</key>
			<string>76公斤</string>
			<key>77</key>
			<string>77公斤</string>
			<key>78</key>
			<string>78公斤</string>
			<key>79</key>
			<string>79公斤</string>
			<key>80</key>
			<string>80公斤</string>
			<key>81</key>
			<string>81公斤</string>
			<key>82</key>
			<string>82公斤</string>
			<key>83</key>
			<string>83公斤</string>
			<key>84</key>
			<string>84公斤</string>
			<key>85</key>
			<string>85公斤</string>
			<key>86</key>
			<string>86公斤</string>
			<key>87</key>
			<string>87公斤</string>
			<key>88</key>
			<string>88公斤</string>
			<key>89</key>
			<string>89公斤</string>
			<key>90</key>
			<string>90公斤</string>
			<key>91</key>
			<string>91公斤</string>
			<key>92</key>
			<string>92公斤</string>
			<key>93</key>
			<string>93公斤</string>
			<key>94</key>
			<string>94公斤</string>
			<key>95</key>
			<string>95公斤</string>
			<key>96</key>
			<string>96公斤</string>
			<key>97</key>
			<string>97公斤</string>
			<key>98</key>
			<string>98公斤</string>
			<key>99</key>
			<string>99公斤</string>
			<key>100</key>
			<string>100公斤</string>
			<key>101</key>
			<string>101公斤</string>
			<key>102</key>
			<string>102公斤</string>
			<key>103</key>
			<string>103公斤</string>
			<key>104</key>
			<string>104公斤</string>
			<key>105</key>
			<string>105公斤</string>
			<key>106</key>
			<string>106公斤</string>
			<key>107</key>
			<string>107公斤</string>
			<key>108</key>
			<string>108公斤</string>
			<key>109</key>
			<string>109公斤</string>
			<key>110</key>
			<string>110公斤</string>
			<key>111</key>
			<string>111公斤</string>
			<key>112</key>
			<string>112公斤</string>
			<key>113</key>
			<string>113公斤</string>
			<key>114</key>
			<string>114公斤</string>
			<key>115</key>
			<string>115公斤</string>
			<key>116</key>
			<string>116公斤</string>
			<key>117</key>
			<string>117公斤</string>
			<key>118</key>
			<string>118公斤</string>
			<key>119</key>
			<string>119公斤</string>
			<key>120</key>
			<string>120公斤</string>
			<key>121</key>
			<string>121公斤</string>
			<key>122</key>
			<string>122公斤</string>
			<key>123</key>
			<string>123公斤</string>
			<key>124</key>
			<string>124公斤</string>
			<key>125</key>
			<string>125公斤</string>
			<key>126</key>
			<string>126公斤</string>
			<key>127</key>
			<string>127公斤</string>
			<key>128</key>
			<string>128公斤</string>
			<key>129</key>
			<string>129公斤</string>
			<key>130</key>
			<string>130公斤</string>
			<key>131</key>
			<string>131公斤</string>
			<key>132</key>
			<string>132公斤</string>
			<key>133</key>
			<string>133公斤</string>
			<key>134</key>
			<string>134公斤</string>
			<key>135</key>
			<string>135公斤</string>
			<key>136</key>
			<string>136公斤</string>
			<key>137</key>
			<string>137公斤</string>
			<key>138</key>
			<string>138公斤</string>
			<key>139</key>
			<string>139公斤</string>
			<key>140</key>
			<string>140公斤</string>
			<key>141</key>
			<string>141公斤</string>
			<key>142</key>
			<string>142公斤</string>
			<key>143</key>
			<string>143公斤</string>
			<key>144</key>
			<string>144公斤</string>
			<key>145</key>
			<string>145公斤</string>
			<key>146</key>
			<string>146公斤</string>
			<key>147</key>
			<string>147公斤</string>
			<key>148</key>
			<string>148公斤</string>
			<key>149</key>
			<string>149公斤</string>
			<key>150</key>
			<string>150公斤</string>
			<key>151</key>
			<string>151公斤</string>
			<key>152</key>
			<string>152公斤</string>
			<key>153</key>
			<string>153公斤</string>
			<key>154</key>
			<string>154公斤</string>
			<key>155</key>
			<string>155公斤</string>
			<key>156</key>
			<string>156公斤</string>
			<key>157</key>
			<string>157公斤</string>
			<key>158</key>
			<string>158公斤</string>
			<key>159</key>
			<string>159公斤</string>
			<key>160</key>
			<string>160公斤</string>
			<key>161</key>
			<string>161公斤</string>
			<key>162</key>
			<string>162公斤</string>
			<key>163</key>
			<string>163公斤</string>
			<key>164</key>
			<string>164公斤</string>
			<key>165</key>
			<string>165公斤</string>
			<key>166</key>
			<string>166公斤</string>
			<key>167</key>
			<string>167公斤</string>
			<key>168</key>
			<string>168公斤</string>
			<key>169</key>
			<string>169公斤</string>
			<key>170</key>
			<string>170公斤</string>
			<key>171</key>
			<string>171公斤</string>
			<key>172</key>
			<string>172公斤</string>
			<key>173</key>
			<string>173公斤</string>
			<key>174</key>
			<string>174公斤</string>
			<key>175</key>
			<string>175公斤</string>
			<key>176</key>
			<string>176公斤</string>
			<key>177</key>
			<string>177公斤</string>
			<key>178</key>
			<string>178公斤</string>
			<key>179</key>
			<string>179公斤</string>
			<key>180</key>
			<string>180公斤</string>
			<key>181</key>
			<string>181公斤</string>
			<key>182</key>
			<string>182公斤</string>
			<key>183</key>
			<string>183公斤</string>
			<key>184</key>
			<string>184公斤</string>
			<key>185</key>
			<string>185公斤</string>
			<key>186</key>
			<string>186公斤</string>
			<key>187</key>
			<string>187公斤</string>
			<key>188</key>
			<string>188公斤</string>
			<key>189</key>
			<string>189公斤</string>
			<key>190</key>
			<string>190公斤</string>
			<key>191</key>
			<string>191公斤</string>
			<key>192</key>
			<string>192公斤</string>
			<key>193</key>
			<string>193公斤</string>
			<key>194</key>
			<string>194公斤</string>
			<key>195</key>
			<string>195公斤</string>
			<key>196</key>
			<string>196公斤</string>
			<key>197</key>
			<string>197公斤</string>
			<key>198</key>
			<string>198公斤</string>
			<key>199</key>
			<string>199公斤</string>
			<key>200</key>
			<string>200公斤</string>
		</dict>
	</array>
	<key>profile</key>
	<array>
		<string>外貌自评</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>文质彬彬型</string>
			<key>2</key>
			<string>西部牛仔型</string>
			<key>3</key>
			<string>阳光帅气型</string>
			<key>4</key>
			<string>风度翩翩型</string>
			<key>5</key>
			<string>成熟魅力型</string>
			<key>6</key>
			<string>朴实无华型</string>
			<key>7</key>
			<string>朴实无华型</string>
			<key>8</key>
			<string>内敛酷男型</string>
			<key>9</key>
			<string>秀外慧中</string>
			<key>10</key>
			<string>眉清目秀</string>
			<key>11</key>
			<string>明眸善睐</string>
			<key>12</key>
			<string>娇小依人</string>
			<key>13</key>
			<string>青春活泼</string>
			<key>14</key>
			<string>成熟魅力</string>
			<key>15</key>
			<string>雍容华贵</string>
			<key>16</key>
			<string>淡雅如菊</string>
		</dict>
	</array>
	<key>charmparts</key>
	<array>
		<string>魅力部位</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>笑容</string>
			<key>2</key>
			<string>眉毛</string>
			<key>3</key>
			<string>眼睛</string>
			<key>4</key>
			<string>头发</string>
			<key>5</key>
			<string>鼻梁</string>
			<key>6</key>
			<string>嘴唇</string>
			<key>7</key>
			<string>牙齿</string>
			<key>8</key>
			<string>颈部</string>
			<key>9</key>
			<string>耳朵</string>
			<key>10</key>
			<string>手</string>
			<key>11</key>
			<string>胳膊</string>
			<key>12</key>
			<string>胸部</string>
			<key>13</key>
			<string>腰部</string>
			<key>14</key>
			<string>臀部</string>
			<key>15</key>
			<string>腿</string>
			<key>16</key>
			<string>脚</string>
			<key>17</key>
			<string>没有太特别的</string>
		</dict>
	</array>
	<key>hairstyle</key>
	<array>
		<string>发型</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>顺直长发</string>
			<key>2</key>
			<string>卷曲长发</string>
			<key>3</key>
			<string>中等长度</string>
			<key>4</key>
			<string>短发</string>
			<key>5</key>
			<string>很短</string>
			<key>6</key>
			<string>光头</string>
			<key>7</key>
			<string>其他</string>
		</dict>
	</array>
	<key>haircolor</key>
	<array>
		<string>发色</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>黑色</string>
			<key>2</key>
			<string>金色</string>
			<key>3</key>
			<string>褐色</string>
			<key>4</key>
			<string>栗色</string>
			<key>5</key>
			<string>灰色</string>
			<key>6</key>
			<string>红色</string>
			<key>7</key>
			<string>白色</string>
			<key>8</key>
			<string>挑染</string>
			<key>9</key>
			<string>光头</string>
			<key>10</key>
			<string>其他</string>
		</dict>
	</array>
	<key>facestyle</key>
	<array>
		<string>脸型</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>圆脸型</string>
			<key>2</key>
			<string>方脸型</string>
			<key>3</key>
			<string>长脸型</string>
			<key>4</key>
			<string>瓜子脸型</string>
			<key>5</key>
			<string>鸭蛋脸型</string>
			<key>6</key>
			<string>国字脸型</string>
			<key>7</key>
			<string>三角脸型</string>
			<key>8</key>
			<string>菱形脸型</string>
		</dict>
	</array>
	<key>bodystyle</key>
	<array>
		<string>体型</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>瘦</string>
			<key>2</key>
			<string>较瘦</string>
			<key>3</key>
			<string>匀称</string>
			<key>4</key>
			<string>苗条</string>
			<key>5</key>
			<string>高挑</string>
			<key>6</key>
			<string>丰满</string>
			<key>7</key>
			<string>健壮</string>
			<key>8</key>
			<string>魁梧</string>
			<key>9</key>
			<string>胖</string>
			<key>10</key>
			<string>较胖</string>
		</dict>
	</array>
	<key>fee</key>
	<array>
		<string>费用预算</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>100元以下</string>
			<key>2</key>
			<string>100-300元</string>
			<key>3</key>
			<string>300-500元</string>
			<key>4</key>
			<string>500元以上</string>
		</dict>
	</array>
	<key>whopay</key>
	<array>
		<string>付款方式</string>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>发起人买单</string>
			<key>2</key>
			<string>应约人买单</string>
			<key>3</key>
			<string>AA制</string>
			<key>10</key>
			<string>较胖</string>
		</dict>
	</array>
</dict>
</plist>
